artifacts/resoch-digitals/public/images/motion[[:space:]]horizontal.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/resoch-digitals/public/images/all_views_motion[[:space:]]horizontal.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/resoch-digitals/public/images/mobile_view_resoch[[:space:]]motion_3.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/resoch-digitals/public/images/hero-desktop.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/resoch-digitals/public/images/hero-mobile.mp4 filter=lfs diff=lfs merge=lfs -text
